<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1>投稿作成</h1>
      <%= form_with model: @post, class: "new_post" do |f| %>
        <div class="mb-3">
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :body %>
          <%= f.text_area :body, class: "form-control", rows: "10" %>
        </div>
        <div class="mb-3">
          <%= f.label :published_at %>
          <%= f.date_field :published_at, class: "form-control" %>
        </div>
        <%= f.submit "投稿する", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>