<!DOCTYPE html>
<html>
  <head>
    <title>京タグ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= render 'shared/flash_message' %>
    <%= yield %>
    <%= render 'shared/footer' %>

    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&libraries=places&callback=initAutocomplete" async defer></script>
    <script>
      function initAutocomplete() {
        var options = {
          types: ['establishment']  // establishment を追加して観光スポットも候補に含める
        };
        autocomplete = new google.maps.places.Autocomplete(
          document.getElementById('autocomplete-input'),
          options
        );
        autocomplete.addListener('place_changed', onPlaceChanged);
      }

      function onPlaceChanged() {
          var place = autocomplete.getPlace();
          if (!place.geometry) {
            console.log("No details available for input: '" + place.name + "'");
            return;
          }
        document.getElementById('autocomplete-input').value = place.name;
        document.getElementById('place-id').value = place.place_id;
      }
    </script>
  </body>
</html>
